<table>
  <tr>
    <td style="padding:10px;">
      User Manager<br/>&nbsp;&nbsp;&nbsp;<a  href="<%= bolt_users_path %>" ><%= image_tag("user.png") %></a>
    </td>
    <td style="padding:10px;">
      Article Manager<br/>&nbsp;&nbsp;&nbsp;<a  href="<%= bolt_articles_path %>" ><%= image_tag("article.png") %></a>
    </td>
    <td style="padding:10px;">
      Media Manager<br/>&nbsp;&nbsp;&nbsp;<a  href="<%= bolt_media_path %>" ><%= image_tag("media.png") %></a>
    </td>
    <td style="padding:10px;">
      Page Manager<br/>&nbsp;&nbsp;&nbsp;<a href="<%= bolt_pages_path %>" ><%= image_tag("page_manager.png") %></a>
    </td>
  </tr>
</table>
