<h2>Add a new user</h2>

<%= form_for @bolt_user do |form| %>

<div class="tfContainer">
  <%= bolt_text_field form, @bolt_user, :login, {:size => 30} %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_text_field form, @bolt_user, :name %>
</div>

<div class="tfContainer">
  <%= bolt_text_field form, @bolt_user, :email %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_time_zone_select form, @bolt_user, :time_zone, ActiveSupport::TimeZone.us_zones %>
</div>

<div class="tfContainer">
  <%= bolt_select form, @bolt_user, :access_level, bolt_get_access_level_array, {:bolt_label => "Status"} %>
</div>

<div class="tfContainer tfContainerSecond">
</div>

<div class="tfContainer">
  <%= bolt_password_field form, @bolt_user, :password, {:bolt_label => "Password"} %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_password_field form, @bolt_user, :password_confirmation, {:bolt_label => "Repeat password"} %>
</div>

<div class="clearer"></div>

<div>Assing Group</div>

<% @groups.each do |ug| %>    
<%= form.fields_for :users_groups do |g_fields| %>
<%= g_fields.check_box :group_id, {:checked => false}, ug.id %><%= ug.name %><br/>
<% end %>
<% end %>

<div class="clearer"></div>

<p class="submits">
  <%= form.submit "Add new user", :class => "update" %>
</p>

<% end %>

<%= content_for :sidebar do %>
<li><%= link_to "#{bolt_show_icon('table')}Back to list".html_safe, bolt_users_path %></li>
<% end %>
