<h2>View user</h2>

<%= form_for @bolt_user do |f| %>

<div class="tfContainer">
  <%= bolt_text_field f, f.object, :login, {:size => 30} %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_text_field f, f.object, :name %>
</div>

<div class="tfContainer">
  <%= bolt_text_field f, f.object, :email %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_time_zone_select f, f.object, :time_zone, ActiveSupport::TimeZone.us_zones %>
</div>

<% if @session_user.is_admin? && (@bolt_user.is_admin? == false || Bolt::User.has_more_than_one_admin) %>
<div class="tfContainer">
  <%= bolt_select f, f.object, :access_level, bolt_get_access_level_array, {:bolt_label => "Status"} %>
</div>
<div class="tfContainer tfContainerSecond">
</div>
<% end %>


<div>Assing Group</div>

<%= f.fields_for :users_groups do |g_fields| %>
<%= g_fields.hidden_field :group_id %>
<%= g_fields.check_box :_destroy, {:checked => g_fields.object.persisted?}, 0, 1 %><%= g_fields.object.group.name %><br/>
<% end %>

<% @groups.each do |ug| 
     if(!@u_groups.include?(ug.id))
%>
<%= f.fields_for :users_groups, @bolt_user.users_groups.build do |g_fields| %>
<%= g_fields.check_box :group_id, {:checked => false}, ug.id %><%= ug.name %><br/>
<%   end
   end
%>
<% end %>

<div class="clearer"></div>

<p class="submits">
  <%= link_to 'Cancel', bolt_users_path, :class => 'cancel' %> or
  <%= f.submit "Save changes", :class => "update" %>
</p>
<% end %>

<% if @session_user.is_admin? %>

<h2>Reset password (admin action - use carefully)</h2>

<%= form_for @bolt_user, :url => reset_password_bolt_user_path(@bolt_user) do |f| %>

<div class="tfContainer">
  <%= bolt_password_field f, f.object, :password, {:bolt_label => "New password"} %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_password_field f, f.object, :password_confirmation, {:bolt_label => "Repeat password"} %>
</div>

<div class="clearer"></div>

<p class="submits">
  <%= f.submit "Reset", :class => "update" %>
</p>

<% end %>

<% elsif @session_user.id == @bolt_user.id %>

<h2>Change password</h2>

<%= form_for @bolt_user, :url => update_password_bolt_user_path(@bolt_user) do |f| %>

<div class="tfContainer">
  <p><%= label_tag :form_current_password, "Current password" %></p>
  <p><%= password_field_tag :form_current_password, "", {:class => 'boltTextField'} %></p>
</div>

<div class="tfContainer tfContainerSecond">
</div>

<div class="tfContainer">
  <%= bolt_password_field f, f.object, :password, {:bolt_label => "New password"} %>
</div>

<div class="tfContainer tfContainerSecond">
  <%= bolt_password_field f, f.object, :password_confirmation, {:bolt_label => "Repeat password"} %>
</div>

<div class="clearer"></div>

<div class="clearer"></div>

<p class="submits">
  <%= f.submit "Change", :class => "update" %>
</p>

<% end %>
<% end %>

<%= content_for :sidebar do %>
<% if @session_user.is_admin? %>
<li><%= link_to "#{bolt_show_icon('table')}Back to list".html_safe, bolt_users_path %></li>
<% end %>
<% end %>
