<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= bolt_generate_page_title %></title>
    <% bolt_config_stylesheet_includes.each do |stylesheet| %>
    <%= stylesheet_link_tag(stylesheet) %>
    <% end %>
    
    <% bolt_config_javascript_includes.each do |javascript| %>
    <%= javascript_include_tag(javascript) %>
    <% end %>
    
    <%= javascript_include_tag "http://js.nicedit.com/nicEdit-latest.js" %>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>    
    <%= csrf_meta_tag %>

    <style type="text/css">
      p.margin
      {
        background-color:Cornsilk;
      }
      p.margin1
      {
        background-color:#0174DF;


padding-top:-3px
;
padding-bottom:-3px;
;

      }
      
    </style>
    
    <style type="text/css">

		.naviagtion ul {
			font-family: Arial, Verdana;
			font-size: 14px;
			margin: 0;
			padding: 0;
			list-style: none;
		}
			.naviagtion ul li {
			display: block;
			position: relative;
			float: left;
		}
			.naviagtion li ul { display: none; }
			.naviagtion ul li a {
			display: block;
			text-decoration: none;
			color: #ffffff;
			border-top: 1px solid #ffffff;
			padding: 5px 15px 5px 15px;
			background:#9966CC ;
			margin-left: 1px;
			white-space: nowrap;
		}
		
			.naviagtion ul li a:hover { background:#9966CC; }
			.naviagtion li:hover ul { 
			display: block; 
			position: absolute;
		}
			.naviagtion li:hover li { 
			float: none;
			font-size: 11px;
		}
			.naviagtion li:hover a { background:#9966CC; }
			.naviagtion li:hover li a:hover { background:#9966CC; }

	</style>	
    
    
    
    <title>BOLT</title>
    <%= stylesheet_link_tag "scaffold" %>
    <%= stylesheet_link_tag "depot" , :media => "all" %>
    <%= stylesheet_link_tag "imagebubbles" , :media => "all" %>
    
    <%= javascript_include_tag :defaults %>
    

    
     <%= stylesheet_link_tag  "jquery.treeview.css"%>    
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.treeview.js" %>
       
        
    </head>
  <body id="store">
<div id="banner">
<%= image_tag("logo.png",:size => '100x32' ) %>
<%= @page_title || "Administration" %>
</div>
   
    <table  width="100%" height="1%"  >
  
<p class="margin"><td><div class='naviagtion'><ul id="menu">
     	
			<li><a href="localhost:3000">Site</a>
				<ul>
     			  <li><a href="/bolt/dashboard">Dashboard</a></li>
     		   </ul>	
     		</li>
     		
		    <li><a href="/bolt/users">Users</a> 
		      <ul>

		      	<li><a href="/bolt/users">User Manager</a></li>
		        <li><a href="/bolt/groups">Group Managaer</a></li> 
		        
		      </ul> 
		    </li> 
		    <li><a href="">Content</a> 
		      <ul> 
		        <li><a href="/bolt/articles">Article Manager</a></li> 
		        <li><a href="/bolt/categories">Category Manager</a></li> 
		        <li><a href="/bolt/media">Media Manager</a></li> 
		        
		      </ul> 
		    </li>

            <li><a href="#">Pages</a> 
		      <ul> 
		        <li><a href="#">I don't Know</a></li> 
		      </ul> 
		    </li> 
		    
		    <li><a href="#">Help</a> 
		      <ul> 
		        <li><a href="#">Rails Help</a></li> 
		        <li><a href="#">Official Support Forum </a></li> 
		        
		      </ul> 
		    </li> 
		</ul>	
         <p align="right"><a  href="/bolt/user_session" data-method="delete" rel="nofollow"><%= image_tag("logout.png") %></a></p></div></td>
    </p>
    
</table>
    
   
    
      
    </div>
    
    <div id="content">
      <div id="data">
	<% if flash[:warning] %>
	<div id="error">
	  <%= flash[:warning] %>
	</div>
	<% end %>
	<% if flash[:notice] %>
	<div id="notice">
	  <%= flash[:notice] %>
	</div>
	<% end %>
	<%= yield %>
      </div>
    </div>
  </body>
</html>
